<h1 class="mb-5">Ingrese los datos</h1>
<form method="POST" action="/productos">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="number" class="form-control" name="price">
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Link a imagen</label>
        <input type="text" class="form-control" name="thumbnail">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    <a class="btn btn-secondary mt-3 mx-3" href="/productos">Ir a productos</a>
</form>